@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&display=swap);

* { box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.container {
    height: 40vh; 
    background: linear-gradient
    (rgba(115, 140, 5, 0.8), rgba(66, 139, 7, 0.8)), url(image/contact-bg.jpg);
    background-position: 50% 100%; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
}

•contact-bg h3{
    font-size: 1.3rem; 
    font-weight:400;
}

•contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0; 
    letter-spacing: 4px;
}
•line div { 
    margin: 0 0.2rem;
}

.line div:nth-child(1), 
.line div:nth-child(3)
{ height: 3px;
  width: 70px; 
  background: #0c871a;
}
.line {
    display: flex;  
    align-items: center; 
}
.line div:nth-child(2) {
    height: 3px;
    width: 30px; 
    background: #0c871a;
    border-radius: 50%;
}
.text {
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    max-width: 1320px;
    margin:0 auto;
    padding:0 1rem;
}

.contact-info {
    padding: 2rem 0;
    text-align: center; 
    margin: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div {
    margin: 0.8rem 0;
    padding:1rem;
}
.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #75d580;
}
.contact-info div span:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 500;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid #8a8d8a;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px; 
    padding: 0.7rem; 
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem; 
    outline: 0;
}

• form-control:focus{
    box-shadow:0 0 6px -3px rgba(66, 139, 7, 0.8);
}
• contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 0.6rem;
}

• send-btn{ 
    width: 100%; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem; 
    text-transform: uppercase;
    color: #fff; 
    background: #f7327a; 
    border: none; 
    border-radius: 5px; 
    padding: 0.7rem 1.5rem; 
    cursor: pointer; 
    transition: all 0.4s ease;
}

•send-btn:hover{
    opacity: 0.8;
}
.contact-form > div img {
    width: 85%;
}
.contact-form > div {
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #8a8d8a;
}
.contact-footer h3{
    font-size: 1.3rem; 
    font-weight: 400;
    margin-bottom: 1rem;
    color: #244507;
}
@media screen and (min-width: 768px) {
   .contact-bg .text{
         width: 70%;
         margin-left: auto;
         margin-right: auto;
   }
    .contact-info{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px) {
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center; 
    }
}
@media screen and (min-width: 1200px) {
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}