/* General Positioning etc */
h3 {
    text-align: center;
    margin: 20px 0;
  }
  
  .datasources {
    text-align: center;
  }

p {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
  }

/* Data Sources Section */
.datasources ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .datasources li {
    background-color: #e6f9e7;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 1.1em;
  }
  
  .datasources li strong {
    color: #56d35a;
  }

