<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Sources - SNP Browser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datasources_style.css') }}">
</head>
<body>
    <header>
        <h1>PAANN T2D Browser</h1>
    </header>
    <main>

        <section class="links-section">
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('userguide') }}">User Guide</a>
            <a href="{{ url_for('contact') }}">Contact Us</a>
            <a href="{{ url_for('home') }}">Home</a>
        </section>
        
        <section class="intro">
            <h2>Data Sources</h2>
            <p>Explore the data sources used to identify Type 2 Diabetes (T2D) genetic variants.</p>
        </section>

        <section class="datasources">
            <h3>Our Key Data Sources</h3>
            <ul>
                <li><strong>Genetic Data from GWAS:</strong> Genome-wide association studies (GWAS) provide key insights into genetic variants associated with Type 2 Diabetes.</li>
                <li><strong>Public Genomic Databases:</strong> Data from resources such 1000 Genomes and Type 2 Diabetes Knowledge Portal supported the making of our database.</li>
                <li><strong>Clinical Data:</strong> Patient clinical data, collected from studies and cohorts, enhances our genetic understanding of T2D.</li>
                <li><strong>Scientific Literature:</strong> Peer-reviewed studies provide supporting evidence for genetic associations and variant interpretations.</li>
            </ul>
        </section>

    </main>
    <footer>
        <p>© 2024 PAANN T2D Browser | <a href="{{ url_for('contact') }}">Contact Us</a></p>
    </footer>
</body>
</html>