<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Guide - SNP Browser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">

</head>
<body>
    <header>
        <h1>PAANN T2D Browser - User Guide</h1>
    </header>
    
    <section class="links-section">
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('contact') }}">Contact Us</a>
        <a href="{{ url_for('datasources') }}">Data Sources</a>

    </section>

    <main>
        <section class="intro">
            <h2>Welcome to the User Guide</h2>
            <p>This guide will help you navigate and use the PAANN T2D SNP Browser efficiently.</p>
        </section>

        <section class="guide-section">
            <h2>Searching for SNPs</h2>
            <p>You can search for Type 2 Diabetes-related SNPs using:</p>
            <ul>
                <li><strong>RSID</strong> (e.g., <em>rs148776975</em>)</li>
                <li><strong>Gene Name</strong> (e.g., <em>RSPO3</em>)</li>
                <li><strong>Gneomic Region</strong> (e.g., <em>Chr :15, Start: 62000000, End: 63000000</em>)</li>
            </ul>
            <p>Use the search bar on the home page to enter your query and get relevant results.</p>
        </section>

        <section class="guide-section">
            <h2>Filtering Results</h2>
            <p>After performing a search, you can filter results based on:</p>
            <ul>
                <li><strong>Phenotypes</strong> (e.g., Fasting Glucose, HbA1C)</li>
                <li><strong>Populations</strong> (e.g., Bengali, Punjabi)</li>
            </ul>
        </section>

        <section class="guide-section">
            <h2>Interpreting Results</h2>
            <p>The results page provides detailed information, including:</p>
            <ul>
                <li><strong>SNP Details:</strong> ID, associated gene, chromosome position</li>
                <li><strong>Risk Allele Frequency:</strong> Population-specific risk data</li>
                <li><strong>Statistical Significance:</strong> P-values</li>
                <li><strong>Visualisations:</strong> Visualisations available for genomic regions of interest</li>
            </ul>
        </section>

        <section class="guide-section">
            <h2>Video Tutorial</h2>
            <p>Watch this tutorial to learn how to use the SNP Browser effectively:</p>
            <video width="640" height="360" controls>
                <source src="{{ url_for('static', filename='Vid_tutorial.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </section>


    </main>

    <footer>
        <p>© 2024 PAANN T2D Browser | <a href="{{ url_for('contact') }}">Contact Us</a></p>
    </footer>
</body>
</html>
